@using BookStore.Models.Models
@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6 mb-3">
            <div class="card h-100 border-0 shadow-sm border-top border-5 rounded mb-3">
                <img src="@product.ImageUrl" alt="Book Cover" class="card-img-top rounded" style="height: 200px; object-fit: cover;" />
                <div class="card-body d-flex flex-column">
                    <div class="mb-3">
                        <p class="card-title text-capitalize text-truncate text-muted text-center">
                            @product.Title
                        </p>
                        <p class="card-title text-capitalize text-truncate text-warning text-center">
                            @product.Author
                        </p>
                    </div>
                    <div class="mb-2">
                        <p class="text-dark text-opacity-75 text-center mb-0">
                            List Price:
                            <span class="text-decoration-line-through">
                                @product.ListPrice.ToString("c")
                            </span>
                        </p>
                        <p class="text-dark text-opacity-75 text-center">
                            As low as
                            <span>
                                @product.Price100.ToString("c")
                            </span>
                        </p>
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="Home" asp-route-id="@product.Id" asp-action="Details" class="btn btn-warning bg-gradient rounded form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
